<div id="header">
    <h1><a href="{{ path('home') }}">Le Bon Cube</a></h1>
    <a href="{{ path('create') }}">Déposer une annoncer</a>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
        <div class="separator"></div>
        {{ app.user.email }}
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
        <a href="{{ path('app_register') }}">S'inscrire</a>
    {% endif %}
</div>